@import "styles/variables.scss";

// ---------------------------------------------------
// COVER
// ---------------------------------------------------

.cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 1000px;
}

.coverImg {
  height: 100vh;
  max-height: 1000px;
  @media (max-width: 1000px) {
    object-fit: cover;
    max-height: 100vh;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(216, 216, 216);
  font-weight: bold;
  @media (max-width: 1000px) {
    top: 50%;
  }
}

.special {
  margin-bottom: 0px;
  font-size: 80px;
  white-space: nowrap;
  @media (max-width: 1000px) {
    font-size: 40px;
  }
}

.nextSpecial {
  font-size: 20px;
  margin-top: 0px;
  > a {
    color: rgb(216, 216, 216);
  }
}

// ---------------------------------------------------
// ABOUT
// ---------------------------------------------------

.about-container {
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
}

.about {
  display: grid;
  grid-template-columns: 500px 500px;
  max-width: 1000px;
  color: $font-color;
  align-items: center;
  @media only screen and (max-width: 1000px) {
    display: flex;
    padding: 20px;
  }
}

.about-left {
  padding-right: 10px;
}

.about-left-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  @media only screen and (max-width: 1000px) {
    text-align: center;
  }
}

.about-right-img-container {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 400px,
      $secondary-color 490px,
      $secondary-color 500px
    ),
    url(../../img/aboutteam.jpeg) no-repeat;
  height: 250px;
  width: 500px;
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.about-right-img {
  width: 500px;
}

// ---------------------------------------------------
// SCHEDULE
// ---------------------------------------------------

.schedule-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0 0;
  color: $font-color;
}

.schedule-item-container {
  width: fit-content;
  margin: auto;
  color: $font-color;
  display: flex;
  padding: 20px;
}

.schedule {
  padding: 20px;
}
