@import "styles/variables.scss";

.table-container {
  color: $font-color;
  width: max-content;
  margin: auto;
}

.table {
  width: max-content;
  background-color: black;
  margin: 10px auto;
}

.table > tbody > tr > td {
  padding: 5px 10px;
  width: 300px;
  border-bottom: 1px solid white;
}

.table > thead > tr > th {
  color: $secondary-font-color;
  border-bottom: 1px solid $secondary-font-color;
}
